<p id="notice"><%= notice %></p>

<div class="jumbotron">
<p>
  <%= image_tag @pin.image.url(:medium) %><br />
  <strong>Description:</strong>
  <%= @pin.description %>
</p>
</div>

<br />
<% if @pin.user == current_user %>
  <%= link_to 'Edit', edit_pin_path(@pin), class: 'btn btn-primary' %> 
<% end %>
|
<%= link_to 'Back', pins_path, class: 'btn btn-default' %>
